div {
 border: dashed;
 border-color: green ;


}

body {
  background-color: #006699;
  background-image:url('background-wallpaper.jpg');
  margin: 0;
  padding: 0;
}

#outer-container {
  margin: auto;
  width: 900px;
}

#inner-container {
  background-color: #FFFFCC;
  bottom: 16px;
  box-shadow: 0px 0px 50px #999;
  overflow: scroll;
  padding: 30px;
  position: absolute;
  top: 16px;
  width: 900px;
}

.cart {
  background-color: #FF9999;
  position: absolute;
  /*float:right;*/
  right:50px;
  top:50px;
  height: 250px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px #999;
  margin-left: 40px;
  padding: 0 10px;

}

.description {
  max-width: 600px;
}