div {
 border: dashed;
 border-color: green ;
}

body {
  background-color: #006699;
  background-image:url('background-wallpaper.jpg');
  background-size: 100%;
  /*background-repeat:no-repeat;*/
  
  margin: 0;
  padding: 0;
}

#outer-container {
  margin: auto;
  width: 1100px;
}

#inner-container {
  background-color: #FFFFCC;
  bottom: 16px;
  box-shadow: 0px 0px 50px #999;
  overflow: scroll;
  padding: 30px;
  position: absolute;
  top: 16px;
  width: 1100px;
}

.cart {
  background-color: #FF9999;
  padding: 0 10px;
  margin-top: 15px;
  margin-left: -15px;
  height: 400px;
  border: 1px solid #ccc;
  box-shadow: 0px 0px 10px #999;
}

td
{
padding:5px;
}

.description {
  max-width: 600px;
}
.listings {
  display: inline-block;
  text-align: center;
  width: 240px;

}

.listings img {
  width: 150px;
  height:150px;
}

.listings .productname {
  text-align: left;
  margin-left: 25px;
  font-size: 16px;
}

.split-para      { display:block;margin:10px; font-weight:bold; font-size: 16px}
.split-para span { display:block;float:right;width:50%;margin-left:10px; font-weight:normal; font-size: 14px}

.price {
  text-align: right;
}